[submodule "components/homekit"]
	path = components/homekit
	url = https://AchimPieters@github.com/AchimPieters/esp32-homekit.git
[submodule "esp32-button"]
	path = esp32-button
	url = https://AchimPieters@github.com/AchimPieters/esp32-homekit-demo.git
