menu "StudioPieters"

      config ESP_WIFI_SSID
              string "WiFi SSID"
              default "myssid"
              help
                  SSID (network name) for the example to connect to.

      config ESP_WIFI_PASSWORD
              string "WiFi Password"
              default "mypassword"
              help
                  WiFi password (WPA or WPA2) for the example to use.

      config ESP_LED_GPIO
              int "Set the GPIO for the LED"
              default 2
              help
                  The GPIO number the LED is connected to.

      choice LED_MODEL
              prompt "Select chip type"
              default LED_MODEL_WS2812

              config LED_MODEL_WS2812
                    bool "WS2812"
              config LED_MODEL_SK6812
                    bool "SK6812"
              endchoice

      config ESP_STRIP_LENGTH
              int "Set the number of LED's of your strip"
              default 3
              help
                  The number of LED's On the connected strip.

      choice LED_PIXEL_FORMAT
              prompt "Select color"
              default LED_PIXEL_FORMAT_GRB

              config LED_PIXEL_FORMAT_GRB
                    bool "GRB"
              config LED_PIXEL_FORMAT_GRBW
                    bool "GRBW"
              endchoice

      config ESP_SETUP_CODE
              string "HomeKit Setup Code"
              default "338-77-883"
              help
                  If you want to change the HomeKit Setup Code, you can do that here (Note:  you need to make a new QR-CODE To make it work)

      config ESP_SETUP_ID
              string "HomeKit Setup ID"
              default "1QJ8"
              help
                   If you want to change the HomeKit Setup ID, you can do that here (Note: you need to make a new QR-CODE To make it work)

endmenu
