
#
# Watchdog Timer config
#
CONFIG_TASK_WDT_TIMEOUT_S=60
CONFIG_ESP_TASK_WDT_TIMEOUT_S=60

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions/partitions_esp32h2.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions/partitions_esp32h2.csv"
