menu "StudioPieters"

      config ESP_WIFI_SSID
              string "WiFi SSID"
              default "myssid"
              help
                  SSID (network name) for the example to connect to.

      config ESP_WIFI_PASSWORD
              string "WiFi Password"
              default "mypassword"
              help
                  WiFi password (WPA or WPA2) for the example to use.

      config ESP_LED_GPIO
              int "Set the GPIO for the LED"
              default 5
              help
                  The GPIO number the LED is connected to.

      config ESP_STRIP_LENGTH
              int "Set the number of LED's of your strip"
              default 3
              help
                  The number of LED's On the connected strip.

      config ESP_COLD_WHITE_GPIO
              int "Set the GPIO for the warm white LED"
              default 18
              help
                  Generally, GPIOs like GPIO18, GPIO19, GPIO21, GPIO22, GPIO23, and GPIO25-27 are commonly used with the ledc driver.

      config ESP_WARM_WHITE_GPIO
              int "Set the GPIO for the cold white LED"
              default 19
              help
                  Generally, GPIOs like GPIO18, GPIO19, GPIO21, GPIO22, GPIO23, and GPIO25-27 are commonly used with the ledc driver.

      config ESP_SETUP_CODE
              string "HomeKit Setup Code"
              default "227-66-772"
              help
                  If you want to change the HomeKit Setup Code, you can do that here (Note:  you need to make a new QR-CODE To make it work)

      config ESP_SETUP_ID
              string "HomeKit Setup ID"
              default "1QJ8"
              help
                   If you want to change the HomeKit Setup ID, you can do that here (Note: you need to make a new QR-CODE To make it work)

endmenu
