#
# Watchdog Timer config
#
CONFIG_TASK_WDT_TIMEOUT_S=10
CONFIG_ESP_TASK_WDT_TIMEOUT_S=10

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions/partitions_esp32c6.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions/partitions_esp32c6.csv"


 #
 # Serial flasher config
 #


 CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
