#
# StudioPieters
#

# General Optimization
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_COMPILER_OPTIMIZATION_LTO=y

# Binary Size Reduction
CONFIG_LOG_DEFAULT_LEVEL_ERROR=y
CONFIG_BT_ENABLED=n
CONFIG_BLE_ENABLED=n
CONFIG_ESP_CONSOLE_UART_DEFAULT=n
CONFIG_ESP32_PHY_CALIBRATION_AND_DATA_STORAGE=n
CONFIG_ESP32_PANIC_PRINT_HALT=n
CONFIG_ESP32_REDUCE_PHY_TX_POWER=y

# RAM Usage Minimization
# CONFIG_FREERTOS_IDLE_TASK_STACKSIZE=512
# CONFIG_FREERTOS_ISR_STACKSIZE=1536
CONFIG_HEAP_POISONING_DISABLED=y
CONFIG_HEAP_TRACING_OFF=y
CONFIG_TCPIP_RECVMBOX_SIZE=32
CONFIG_TCPIP_SENDMBOX_SIZE=32
CONFIG_TCP_MSS=536

#
# HomeKit
#
CONFIG_HOMEKIT_MAX_CLIENTS=16
CONFIG_HOMEKIT_SMALL=y
CONFIG_HOMEKIT_DEBUG=y
# end of HomeKit

#
# wolfSSL settings
#
CONFIG_WOLFSSL_APPLE_HOMEKIT=y

#
# Life Cycle Manger settings
#
CONFIG_BOOTLOADER_RESERVE_RTC_SIZE=0x10
CONFIG_BOOTLOADER_CUSTOM_RESERVE_RTC=y
CONFIG_BOOTLOADER_CUSTOM_RESERVE_RTC_SIZE=0x04
