menu "StudioPieters"

      config ESP_WIFI_SSID
              string "WiFi SSID"
              default "myssid"
              help
                  SSID (network name) for the example to connect to.

      config ESP_WIFI_PASSWORD
              string "WiFi Password"
              default "mypassword"
              help
                  WiFi password (WPA or WPA2) for the example to use.

      config ESP_WW_LED_GPIO
              int "Set the GPIO for the Warm White LED's"
              default 25
              help
                  The GPIO number the Warm White LED's are connected to.

      config ESP_CW_LED_GPIO
              int "Set the GPIO for the Cool White LED's"
              default 26
              help
                  The GPIO number the Cool White LED's are connected to.

      config ESP_SETUP_CODE
              string "HomeKit Setup Code"
              default "338-77-883"
              help
                  If you want to change the HomeKit Setup Code, you can do that here (Note:  you need to make a new QR-CODE To make it work)

      config ESP_SETUP_ID
              string "HomeKit Setup ID"
              default "1QJ8"
              help
                   If you want to change the HomeKit Setup ID, you can do that here (Note: you need to make a new QR-CODE To make it work)

endmenu
